#about-page{
    background-color: var(--accent-color);
    overflow-y: visible;
    /* display: flex; */
    flex-direction: column;
    /* padding: 20px; */

    overflow-y: auto;
    overflow-x: hidden;
    height: inherit;
}

#about-page .body{
    margin: auto;
}
#about-page .body .text{
    background-color: var(--dark-accent);
    width: 75%;
    margin-right: 20px;
    float: right;
    padding: 50px;
    position: relative;
    min-height: 80%;
    margin: auto;
    margin-right: 7%;
}
#about-page .body .title{
    background-color: var(--secondary-color);
    text-align: right;
    padding: 5px 20px;
    width: min-content;
    position: absolute;
    top: 20%;
    left: -15%;
}



#about-page .contact-info .row{
    margin: auto;
}
#about-page .contact-info{
    margin: 20px;
}


#about-page .side-links{
    margin: 0;
}
#about-page .side-links.back{
    margin-top: 20px;
}
#about-page .side-links .overlay{
    /* opacity: 80%; */
    background-color: var(--dark-accent);
    /* visibility: hidden; */
}
.side-links.pull-right a{
    float: right;
}
.side-links.pull-left a{
    float: left;
}
.side-links.back h4{
    margin: 10px;
}