#about-page{
    background-color: var(--accent-color);
    overflow-y: visible;
    flex-direction: column;
    /* padding: 20px; */
    /* display: flex; */
}

#about-page .body .inner{
    margin: 20px auto;
}
#about-page .body .text{
    background-color: var(--dark-accent);
    width: 75%;
    margin-right: 20px;
    float: right;
    padding: 50px;
    position: relative;
    min-height: 80%;
    margin: auto;
    margin-right: 7%;
}
#about-page .body .title{
    background-color: var(--secondary-color);
    color: black;
    text-align: right;
    padding: 5px 20px;
    width: min-content;
    position: absolute;
    top: 20%;
    left: -15%;
}

/** Side button **/
.side-btn.back .overlay{
    /* opacity: 80%; */
    background-color: var(--dark-accent);
    /* visibility: hidden; */
}
.side-btn.back{
    margin: 0;
    margin-top: 20px;
}
.side-btn.back h4{
    margin: 10px;
}