.home{
    /* background-color: var(--accent-color); */
    background-image: url("assets/imgs/0028_7A.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;

    display: flex;
    overflow: hidden;

    /* display: none; */
}

#home-page > .overlay{
    z-index: 0;
}
#home-page > section{
    z-index: 2;
}