:root{
    --pale-orange: #FEE5AD;
    --light-blue: #afc6ce;
    --light-purple: #c8ccd5;
    --blue: #445B85;
    --dark-blue: #19386F;
    --dark-brown: #53382D;
}


*{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
h3{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}
p{
    margin: 0;
}
a, a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
body {
    background-color: var(--light-purple);
    /* background-image: url("assets/imgs/orange-background11.png");
    background-size: cover;
    background-position: center; */
    min-height: 100vh;
    /* height: 100%; */
}

/** Wrapper Class Pages **/
.wrapper{
    margin: 0;
    top: 0;
    width: 100%;
    position: absolute;
    display: none;
    text-align: center;
}

.scrollable{
    overflow-y: auto;
    overflow-x: hidden;
    height: inherit;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 45%;
    z-index: -1;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.body .inner {
    margin: auto;
    color: var(--dark-blue);
}
.body .box{
    background-color: var(--light-blue);
    /* width: 60%; */
    padding: 10%;
    box-shadow: 7px 7px 4px rgb(0 0 0 / 25%);
}

/** Contact Info **/
.contact-info .fa-circle, .contact-info .icon.selected, .contact-info p{
    color: var(--dark-brown);
}
.contact-info .icon, .contact-info .fa-circle.selected{
    color: var(--pale-orange); 
}
.contact-info{
    display: flex;
}
.contact-info .icons{
    margin: auto;
}

/** Side Button **/
.side-btn{
    position: relative;
    color: var(--dark-blue);
    margin: auto 0;
}
.side-btn .overlay{
    opacity: 100%;
    background-color: var(--light-purple);
}
.side-btn .vertical-text{
    writing-mode: vertical-lr;
    color: inherit;
    margin: 20px 10px;
}

.side-btn.pull-right a{
    float: right;
}
.side-btn.pull-left a{
    float: left;
}

.pull-right .rounded-corners{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    right: -10px;
}
.pull-left .rounded-corners{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    left: -10px;
}