:root{
    --primary-color: #FFFFFF;
    --secondary-color: #D1D2CA;
    --accent-color: #9B9D83;
    --dark-accent: #464533;
    --brown-color: #C7A47E;
}

*{
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}
h4{
    color: var(--secondary-color);
}
p{
    color: var(--secondary-color);
    margin: 0;
}
body {
    /* padding: 20px; */
    background-color: var(--accent-color);

    margin: 0;
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
}

/** Home page layout **/
.home {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.border-full-page{
    background-image: url("assets/imgs/0028_7A.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    flex-grow: 1;
    margin: 60px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.home>.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 45%;
    z-index: 0;
}

/** Home elements **/
.home .inner {
    margin: auto;
    color: var(--primary-color);
    z-index: 2;
}

.contact-info .fa-circle, .contact-info .icon.selected{
    color: var(--dark-accent);
}
.contact-info .icon, .contact-info .fa-circle.selected{
    color: var(--primary-color); 
}
.contact-info{
    display: flex;
}
.contact-info .icons{
    margin: auto;
}
.contact-info .text{
    margin-left: 10px;
    text-align: left;
}

/** Side Links **/
.side-links{
    margin: auto;
    color: black;
    text-align: center;
}
.side-links .vertical-text{
    writing-mode: vertical-lr;
    margin-left: 15px;
    margin-right: 15px;
    color: inherit;
}

/* .photo-corner {
    float: left;
    width: 40px;
} */