/* Kelp
#464533

Celeste
#D1D2CA

Sorrell Brown
#C7A47E

Sage
#9B9D83 */

:root{
    --primary-color: #FFFFFF;
    --secondary-color: #D1D2CA;
    --accent-color: #9B9D83;
    --dark-accent: #464533;
}

*{
    font-family: 'Roboto', sans-serif;
}

h2{
    text-transform: capitalize;
    font-weight: normal;
    font-size: x-large;
}
h2{
    color: var(--secondary-color);
}
p{
    color: var(--secondary-color);
    padding: 0;
    margin: 0;
}
h4{
    /* padding: 0;
    margin: 0; */
    font-size: larger;
}

h1{
    font-weight: normal;
    font-size: xxx-large;
}

body {
    /* padding: 20px; */
    background-color: var(--accent-color);

    margin: 0;
    display: flex;
    /* flex-direction: column; */
    height: 100vh;
}

.home {
    background-image: url("assets/imgs/0028_7A.jpg");
    background-size: cover;
    background-position: center;
    position: relative;

    display: flex;
    flex-direction: column;
    text-align: center;
}

.border-full-page{
    flex-grow: 1;
    margin: 60px;
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.home>.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 45%;
    z-index: 0;
}

.home .inner {
    margin: auto;
    color: var(--primary-color);
    z-index: 2;
}

.fa-circle{
    color: var(--dark-accent);
}
.icon{
    color: var(--primary-color); 
}
.fa-circle.selected{
    color: var(--primary-color);
}
.icon.selected{
    color: var(--dark-accent); 
}

.contact-info{
    display: flex;
    /* margin-bottom: 10px !important; */
}
.contact-info .icons{
    margin: auto;
}


.side-links{
    margin: auto;
    color: black;
    text-align: center;
}
.side-links .vertical-text{
    writing-mode: vertical-lr;
}

/* .photo-corner {
    float: left;
    width: 40px;
} */

#footer {
    background-color: aqua;
}