#projects-page{
    /* background-color: var(--tertiary-accent-color); */
    background-image: url("assets/imgs/orange-background12-2.png");
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow-y: visible;
    flex-direction: column;
    /* padding: 20px; */
}

#projects-page .body .inner{
    margin: 20px auto;
}

#projects-page .contact-info p{
    color: var(--secondary-dark-text-color);
}
