#projects-page{
    /* background-color: var(--light-accent-color); */
    overflow-y: visible;
    flex-direction: column;
    /* padding: 20px; */
}

#projects-page .body .inner{
    margin: 20px auto;
}