#about-page{
    /* background-image: url("../imgs/orange_background1.png");
    background-size: cover;
    background-position: center; */
    min-height: 100vh;

    flex-direction: column;
    display: flex;
}

/* Inner Text Box */
#about-page .body .inner{
    margin: 20px auto;
}
#about-page .body .text{
    /* min-height: 80%; */
    margin: auto;
    text-align: start;
}
#about-page .body .inner .box{
    padding: 6% 4%;
}
#about-page .body .text h4{
    font-weight: normal;
}
#about-page #profile-pic{
    max-width: 100%;
    height: 400px;
    object-fit: contain;
    align-self: center;
}
#about-page strong{
    font-weight: 600;
}

/* Title */
.title{
    width: 80%;
    margin: 30px 0;
    /* box-shadow: -7px 7px 4px rgb(0 0 0 / 25%); */
}
.title > *{
    /* background-color: var(--light-purple); */
    color: var(--dark-blue);
    padding: 10px 0;
    width: fit-content;
    font-family: 'Roboto Serif';
    font-size: xxx-large;
    /* font-weight: bold; */
}

.title.center{
    width: 100%;
    margin: 0;
    margin-top: 20px;
}
.title.center > *{
    width: 100%;
    /* font-size: xx-large; */
}

.title .divider{
    border-bottom: 3px solid var(--dark-blue);
    padding: 0;
    width: 100px;
}
.title.center .divider{
    margin: auto;
}
