#projects-page{
    /* background-image: url("../imgs/orange_background3_2.png");
    background-size: cover;
    background-position: center; */
    min-height: 100vh;

    display: flex;
    flex-direction: column;
}

#projects-page .body .inner{
    margin: 20px auto;
}

/* Projects list */
.project-items [class*='col-']{
    display: flex;
    flex-direction: column;
}

.project-items .row .img-thumbnail{
    padding: 15px;
    border: unset;
    margin-bottom: 20px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}
/* .img-thumbnail p{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
} */
.project-items .img-thumbnail img{
    max-width: 100%;
    height: 200px;
    object-fit: contain;
}

.project-items .link{
    position: absolute;
    top: 0;
    left: 0;
}
.project-items .link .corner-triangle{
    width: 125px;
    height: 125px;
    transform: rotate(45deg);
    background-color: var(--dark-blue);
    top: -62px;
    left: -62px;
    position: absolute;
    border-radius: 0;
}
.project-items .link .icon{
    color: var(--light-blue);
    margin: 10px;
}
.project-items .link a{
    display: block;
}

.project-items .tech-stack{
    justify-content: center;
}
.project-items .tech-stack .item{
    width: auto;
    background: var(--orange);
}