#about-page{
    background-image: url("../imgs/orange_background1.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    overflow-y: visible;
    flex-direction: column;
}

#about-page .body .inner{
    margin: 20px auto;
}
#about-page .body .text{
    width: 75%;
    float: right;
    position: relative;
    min-height: 80%;
    margin: auto;
    margin-right: 7%;
    text-align: start;
}
/* #about-page .body .text h4{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
} */
#about-page .body .title{
    background-color: var(--light-purple);
    color: var(--dark-purple);
    text-align: right;
    padding: 10px 20px 10px 30px;
    width: min-content;
    position: fixed;
    top: 20%;
    margin-left: 7%;
    box-shadow: -7px 7px 4px rgb(0 0 0 / 25%);
}

/** Side button **/
.side-btn.back .overlay{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.side-btn.back{
    margin-top: 20px;
}
/* .side-btn.back a{
    width: 75px;
    height: 75px;
} */


/** Navigation buttons **/
.nav-btns{
    display: flex;
    flex-direction: column;
    position: absolute;
    white-space: nowrap;
    top: 49px;
    right: 17px;
    background-color: var(--light-purple);
    padding: 10px 20px;
    text-align: end;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    opacity: 0;
}

.nav-menu a{
    padding: 0;
    background-color: unset;
    box-shadow: unset;
}

.nav-menu .fa-circle{
    color: var(--light-purple);
}
.dropped{

    opacity: 1;
    transform: none;
    transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 0px 0px;
}
.collasped{

    opacity: 0;
    transform: none;
    transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 0px 0px;
}
.nav-menu{
    position: relative;
}

.nav-menu.pull-right{
    margin: 20px 20px auto 0;
}
.nav-menu.pull-left{
    margin: 20px 0 auto 20px;
}

.nav-menu.pull-right a{
    float: right;
}
.nav-menu.pull-left a{
    float: left;
}

