#about-page{
    background-image: url("../imgs/orange_background1.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    overflow-y: visible;
    flex-direction: column;
}

#about-page .body .inner{
    margin: 20px auto;
}
#about-page .body .text{
    width: 75%;
    float: right;
    position: relative;
    min-height: 80%;
    margin: auto;
    margin-right: 7%;
    text-align: start;
}
#about-page .body .text h4{
    font-weight: normal;
}
#about-page .body .title{
    background-color: var(--light-purple);
    color: var(--dark-purple);
    text-align: right;
    font-weight: normal;
    padding: 10px 20px 10px 30px;
    width: min-content;
    position: fixed;
    top: 20%;
    margin-left: 7%;
    box-shadow: -7px 7px 4px rgb(0 0 0 / 25%);
}
#about-page .title.center{
    text-align: center;
    top: auto;
    margin-left: auto;
    position: relative;
    width: 75%;
    padding: 10px 20px;
}
#about-page .inner .text.center{
    float: unset;
    margin-right: auto;
}