.home{
    background-image: url("../imgs/orange_background0_2.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    position: relative;
    display: flex;
    overflow: hidden;

    /* display: none; */
}
/* #home-page > .overlay{
    z-index: 0;
}
#home-page > section{
    z-index: 2;
} */

#home-page .box{
    width: 65%;
}

#home-page .inner.box h4{
    color: var(--blue);
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

#home-page .inner.top{
    display: flex;
    margin: auto 0;
}

#home-page .side-btn.top{
    flex-grow: 1;
}