.home{
    /* background-image: url("../imgs/orange_background0_2.png");
    background-size: cover;
    background-position: center; */
    height: 100vh;

    position: relative;
    display: flex;
    /* overflow: hidden; */

    /* display: none; */
}

#home-page .body{
    flex-grow: 1;
}


#home-page .box{
    width: 55%;
}

#home-page .inner.box h1{
    font-family: "brandon";
    font-size: 2.75rem;
}

#home-page .inner.box h4{
    color: var(--blue);
    /* font-family: Georgia, Cambria, "Times New Roman", Times, serif; */
}

#home-page .inner.top{
    display: flex;
    margin: auto 0;
}

#home-page .side-nav.top{
    flex-grow: 1;
}

#home-page .side-nav.center{
    display: flex;
    margin: 10px 0;
}

#home-page .side-nav.center a{
    width: 65%;
    margin: auto;
}

#home-page .side-nav.center .inner.box h1{
    font-size: 2.75rem;
}

#home-page .side-nav.center .inner.top{
    display: none;
}

#home-page .content{
    display: flex;
}

.nav-btns{
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: 90px 0;
}

.nav-btns .side-nav{
    margin: auto;
    width: 55%;
}