:root{
    --pale: #FFEAD0;
    /* FFE7C2 */
    --orange: #ffc27f;
    --pale-orange: #FEE5AD;
    --brown: #A88245;
    --dark-brown: #47351A;
    --light-blue: #84CED1;
    --blue: #2A6366;
    /* #003638 */
    --dark-blue: #10292B;
    --light-purple: #B3AFDC;
    --purple: #3F3975;
    --dark-purple: #0F0941;
}

@font-face {
    font-family: 'brandon';
    src: url('../font/brandon-med.otf');
}
@font-face {
    font-family: 'brandon-bold';
    src: url('../font/brandon-bold.otf');
}

*{
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-weight: normal;
    border-radius: 7px;
}

p{
    margin: 0;
}
a, a:hover{
    cursor: pointer;
    color: inherit;
    text-decoration: none;
}
body {
    background-color: var(--orange);
    /* background-image: url("assets/imgs/orange-background11.png");
    background-size: cover;
    background-position: center; */
    min-height: 100vh;
    /* height: 100%; */
}

/** Wrapper Class Pages **/
.wrapper{
    margin: 0;
    top: 0;
    width: 100%;
    position: absolute;
    display: none;
    text-align: center;
}

.scrollable{
    overflow-y: auto;
    overflow-x: hidden;
    height: inherit;
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 45%;
    z-index: -1;
}

.body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
.body .inner {
    margin: auto;
    color: var(--dark-blue);
}
.body .box{
    background-color: var(--light-blue);
    /* width: 60%; */
    padding: 10%;
    box-shadow: 7px 7px 4px rgb(0 0 0 / 25%);
}

/** Contact Info **/
.contact-info .fa-circle, .contact-info .icon.selected, .contact-info p{
    color: var(--dark-brown) !important;
}
.contact-info .icon, .contact-info .fa-circle.selected{
    color: var(--pale-orange) !important; 
}
.contact-info{
    display: flex;
}
.contact-info .icons{
    margin: auto;
}

/** Side Button **/
.side-nav{
    position: relative;
    color: var(--dark-purple);
}
.side-nav a{
    display: flex;
    background-color: var(--light-purple);
    /* height: 60px;
    width: 130px; */
    border-radius: 50px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 15px 20px;
}
.side-nav h4{
    margin: auto;
}

.side-nav.pull-right{
    margin: auto 20px auto 0;
}
.side-nav.pull-left{
    margin: auto 0 auto 20px;
}

.side-nav.pull-right a{
    float: right;
}
.side-nav.pull-left a{
    float: left;
}


/** Header **/
.header{
    margin: 20px;
}
.header .heading h1{
    font-family: 'brandon-bold';
    color: var(--dark-brown);
}
.header .heading.absolute h1{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
.header .heading h1.selected{
    color: var(--brown) !important;
}
.header .hvr-icon-fade.absolute{
    display: block;
}

a.nav-hamburger .fa-circle, a.nav-hamburger .fa-bars.selected{
    color: var(--light-purple) !important;
}
a.nav-hamburger .fa-bars, a.nav-hamburger .fa-circle.selected{
    color: var(--dark-purple) !important; 
}

/** Top Navigation **/
.top-nav{
    position: relative;
}
.top-nav.pull-right > a{
    float: right;
}
.top-nav.pull-left > a{
    float: left;
}
.top-nav .fa-circle{
    color: var(--light-purple);
}
.top-nav.fixed{
    position: fixed;
    z-index: 2;
}
.top-nav.fixed .nav-menu{
    width: max-content;
}
.top-nav.fixed.pull-right{
    right: 20px;
}

.nav-menu{
    position: absolute;
    top: 49px;
    background-color: var(--light-purple);
    color: var(--dark-purple);
    padding: 10px 20px;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
    z-index: 2;
}
.top-nav.pull-right .nav-menu{
    right: 0;
    text-align: end;
}
.top-nav.pull-left .nav-menu{
    text-align: start;
}

.nav-menu.expanded{
    opacity: 1;
    transform: none;
    transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 0px 0px;
}
.nav-menu.collapsed{
    opacity: 0;
    transform: none;
    transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
    transform-origin: 0px 0px;
}

.nav-menu ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.nav-menu ul li{
    padding: 3px 0;
}
.nav-menu ul li span{
    font-size: large;
    font-weight: 500;
}
.nav-menu ul li a:hover{
    border-bottom: 2px solid #000;
    transition: 0.2s all;
    border-radius: 0;
}

.nav-menu.horizontal ul li{
    display: inline-block;
    padding: 3px 10px;
}
.nav-menu.horizontal{
    top: -5px;
    padding: 10px;
}
.top-nav.pull-left .nav-menu.horizontal{
    left: 55px;
}
.top-nav.pull-right .nav-menu.horizontal{
    right: 55px;
}

.nav-menu ul li a.unclickable{
    pointer-events: none;
}

.rounded-corners{
    border-radius: 50%;
}