#projects-page{
    background-image: url("../imgs/orange_background3_2.png");
    background-size: cover;
    background-position: center;
    height: 100vh;

    overflow-y: visible;
    flex-direction: column;
    /* padding: 20px; */
}

#projects-page .body .inner{
    margin: 20px auto;
}

#projects-page .project-items{
    /* margin: 20px; */
    width: 80%;
}

#projects-page .project-items .row .img-thumbnail{
    padding: 15px;
    border: unset;
    margin-bottom: 20px;
    flex-grow: 1;
    position: relative;
    overflow: hidden;
}

#projects-page .project-items [class*='col-']{
    display: flex;
    flex-direction: column;
}
.img-thumbnail p{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
}

#projects-page .project-items .link{
    position: absolute;
    top: 0;
    left: 0;
    /* border-width: 20px 20px 0 0;
    border-color: var(--dark-brown); */
}

#projects-page .project-items .link .corner-triangle{
    /* width: 0;
    height: 0; */
    /* padding-bottom: 15%;
    padding-left: 15%;
    overflow: hidden; */
    /* border-width: 20px 20px 0 0;
    border-color: var(--dark-brown); */
    /* position: relative;
    width: 50%;
    display: inline-block;
    background-color: aliceblue;
    padding-bottom: 15%;
    background-clip: content-box;
    overflow: hidden; */
    width: 125px;
    height: 125px;
    transform: rotate(45deg);
    background-color: var(--dark-brown);
    top: -62px;
    left: -62px;
    position: absolute;
}

/* #projects-page .project-items .link .corner-triangle:after {
    content: ""; */
    /* display: block; */
    /* width: 0;
    height: 0; */
    /* margin-left: -500px;
    border-bottom: 500px solid transparent;
    border-left: 500px solid var(--dark-brown); */
    /* position: absolute;
    top: 50px;
    left: 0;
    background-color: inherit;
    padding-bottom: 50%;
    width: 57.7%;
    z-index: -1;
    transform-origin: 0 0;
    transform: rotate(-30deg) skewX(30deg); */
/* } */
#projects-page .project-items .link .icon{
    /* transform: translateY(20%) translateX(-16%); */
    color: var(--pale-orange);
    margin: 10px;
}
#projects-page .project-items .link a{
    /* transform: translateY(20%) translateX(-16%); */
    display: block;
}

/* .corner-triangle{
    background-color: var(--dark-brown);
} */
/* .corner-triangle:hover{
    background-color: var(--pale-orange); 
} */