/* Top Navigation */
.top-nav{
  position: relative;
  visibility: collapse;
  opacity: 0;
}
.top-nav > a{
  float: right;
}
.top-nav.fixed{
  position: fixed;
  z-index: 2;
}
.top-nav.fixed.pull-right{
  right: 20px;
  display: flex;
  top: 20px
}

/* Navigation Menu Icon */
a.nav-hamburger .icon-back, a.nav-hamburger.selected .icon-front{
  color: var(--light-blue) !important;
}
a.nav-hamburger .icon-front, a.nav-hamburger.selected .icon-back{
  color: var(--dark-blue) !important; 
}

/* Navigation Menu */
.top-nav.fixed .nav-menu{
  width: max-content;
}
.top-nav.pull-right .nav-menu{
  right: 0;
  text-align: end;
}
.nav-menu{
  position: absolute;
  top: 49px;
  background-color: var(--light-blue);
  color: var(--dark-blue);
  padding: 10px 20px;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  z-index: 2;
}

.nav-menu.expanded{
  opacity: 1;
  transform: none;
  transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: 0px 0px;
}
.nav-menu.collapsed{
  opacity: 0;
  transform: none;
  transition: opacity 251ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, transform 167ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transform-origin: 0px 0px;
}
.nav-menu.collapsed.hide{
  visibility: collapse;
}

.nav-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav-menu ul li{
  padding: 3px 0;
}
.nav-menu ul li p{
  font-size: large;
  font-weight: 500;
}
.nav-menu ul li .icons a{
  margin: 12px 15px;
}
/* .nav-menu ul li a:hover, .nav-menu ul li a:hover p{
  border-bottom: 2px solid #000;
  transition: 0.2s all;
  border-radius: 0;
} */
.nav-menu.collapsed ul li a{
  pointer-events: none;
}
.nav-menu .icons a{
  margin: 0 2px;
}
.nav-menu .icon-front{
  color: var(--dark-blue) !important; 
}

.nav-menu.horizontal ul li{
  display: inline-block;
  padding: 3px 10px;
}
.nav-menu.horizontal{
  top: -5px;
  padding: 10px;
}
.top-nav.pull-right .nav-menu.horizontal{
  right: 55px;
}

.top-nav .contact-info{
  visibility: collapse;
  opacity: 0;
}
.top-nav .contact-info.hide{
  display: none;
}

/* Top Navigation Fade in */
.top-nav.visible, .top-nav.fade-out {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.top-nav.visible {
  visibility: visible;
  opacity: 1;
}
.top-nav.fade-out {
  opacity: 0;
}

.top-nav .contact-info.visible, .top-nav .contact-info.fade-out {
  -webkit-transition: opacity .3s 0s, visibility 0s 0s;
  -moz-transition: opacity .3s 0s, visibility 0s 0s;
  transition: opacity .3s 0s, visibility 0s 0s;
}
.top-nav .contact-info.visible {
  visibility: visible;
  opacity: 1;
}
.top-nav .contact-info.fade-out {
  opacity: 0;
}

/* Side Navigation Bar */
.side-nav-bar{
  position: fixed;
  right: 0;
  top: 50vh;
  z-index: 1;
}
.side-nav-bar ul{
  list-style: none;
  margin: 0;
  padding: 0;
}
.side-nav-bar ul li{
  height: 30px;
}
.side-nav-bar ul li a{
  display: flex;
  justify-content: end;
  height: 25px !important;
}
.side-nav-bar ul li a > *{
  padding: 0 10px;
}

.side-nav-bar ul li a .icon{
  margin: auto 0;
  transition: color 0.5s ease-in;
  color: #D9D9D9;
}
.side-nav-bar ul li a.selected .icon{
  margin: auto 0;
  transition: color 0.5s ease-out;
  color: white;
}

.side-nav-bar ul li a div{
  background-color: var(--light-blue);
  border-radius: 15px;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 25%);
  display: none;
  animation-duration: 0.3s;
}
.side-nav-bar ul li a div.show{
  display: initial;
}