:root{
  --pale: #FFEAD0;
  /* FFE7C2 */
  --orange: #ffc27f;
  --pale-orange: #FEE5AD;
  --brown: #A88245;
  --dark-brown: #47351A;
  --light-blue: #c6ccd3;
  --blue: #84CED1;
  --dark-blue: #1d3d60;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
.roboto-serif-font {
  font-family: 'Roboto Serif', serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    'wdth' 100,
    'GRAD' 0;
}
@font-face {
  font-family: 'brandon';
  src: url('./assets/font/brandon-med.otf');
}
@font-face {
  font-family: 'brandon-bold';
  src: url('./assets/font/brandon-bold.otf');
}

*{
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: normal;
  border-radius: 7px;
}

p{
  margin: 0 !important;
}

a, a:hover{
  cursor: pointer !important;
  color: inherit !important;
  text-decoration: none !important;
}

body {
  background-color: var(--orange);
  
  background-image: url("./assets/images/orange_background0_2.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  /* height: 100%; */
}

/* Wrapper and Body Class Pages */
.wrapper{
  margin: 0;
  width: 100%;
  text-align: center;
}

.body {
  display: flex;
  flex-direction: column;
  /* flex-grow: 1; */
  margin: auto 10%;
}
.body .inner {
  color: var(--dark-blue);
}
.body .box{
  background-color: var(--blue);
  /* width: 60%; */
  padding: 10%;
  box-shadow: -2px 5px 32px rgb(0 0 0 / 25%);
}

/* Contact Info */
.contact-info .icon-back, .contact-info .icon-front.selected{
  color: var(--dark-blue) !important; 
}
.contact-info .icon-front, .contact-info .icon-back.selected{
  color: var(--light-blue) !important;
}
.contact-info{
  display: flex;
}
.contact-info .icons{
  margin: auto;
}

/* Header */
.header{
  margin: 30px;
}
.header .heading h1{
  font-family: 'brandon-bold';
  color: var(--dark-brown);
}
.header .heading.absolute h1{
  position: absolute;
  left: 50%;
  transform: translate(-50%);
}
.header .heading h1.selected{
  color: var(--brown) !important;
}
.header .hvr-icon-fade.absolute{
  display: block;
}